* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}
body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  background: linear-gradient(
    to bottom,
    oklch(80% 0.1 220deg),
    oklch(75% 0.1 250deg)
  );
  color: black;
  font-size: clamp(12px, 5vw, 28px);
}
h1,
h2,
p {
  mix-blend-mode: overlay;
  transform: translate3d(0, 0, 0); /* for safari */
}
h2 {
  font-size: 1.3em;
}
figure {
  margin: 3rem 0;
  font-size: 0.7em;
  color: #555;
}
figure img {
  width: clamp(100px, 50vw, 300px);
  border-radius: 10px;
  filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.2));
  background-color: lightgray;
}
figure a {
  text-decoration: none;
  color: #555;
}

#cloud div::before,
#cloud div::after {
  content: "";
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/happy358/misc/main/image/cloud_X.png);
  background-repeat: repeat-x;
  animation: cloud var(--duration) linear infinite forwards var(--direction);

  --posX: left;
  --duration: 10s;
  --direction: normal; /* normal or reverse */
  --lowHeight: 50vh;
  --highHeight: 70vh;
  --layerNum: 4;
  --index: 0;
  --opacity: 0.7;
  --moveX: 300px;
  animation-delay: calc(
    (var(--duration) / var(--layerNum)) * var(--index) * -1
  );
  opacity: 0;
}
#cloud div::before {
  --index: 0;
  transform: scale3d(1, -1, 1);
}
#cloud div::after {
  --index: 1;
  transform: scale3d(-1, -1, 1);
}
#cloud div#cloud_layer2::before {
  --index: 2;
}
#cloud div#cloud_layer2::after {
  --index: 3;
}
#sun div {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  --sunPos: 75vw 0;
  transform-origin: var(--sunPos);
  animation: sun 3.5s linear infinite alternate;

  mask-image: radial-gradient(
    circle at var(--sunPos),
    transparent 30vh,
    white 75vh
  );
  opacity: 0.15;
  transform: scaleX(2);
  z-index: 2;
  pointer-events: none;
}
#sun #sun_layer1 {
  background: conic-gradient(
    from 135deg at var(--sunPos),
    transparent 10.5%,
    khaki 11%,
    transparent 11.5%,
    transparent 15%,
    white 16%,
    transparent 17%,
    transparent 18%,
    white 19%,
    transparent 20%
  );
}
#sun #sun_layer2 {
  animation-delay: -1s;
  animation-duration: 5s;
  animation-direction: alternate-reverse;
  background: conic-gradient(
    from 140deg at var(--sunPos),
    transparent 10%,
    white 11%,
    transparent 12%,
    transparent 15.5%,
    paleturquoise 16%,
    transparent 16.5%,
    transparent 17%,
    lightpink 18%,
    transparent 19%
  );
}
#sun #sun_layer3 {
  animation-delay: -2s;
  animation-duration: 6.5s;
  animation-direction: alternate-reverse;
  background: conic-gradient(
    from 145deg at var(--sunPos),
    transparent 10%,
    white 11%,
    transparent 12%,
    transparent 14%,
    white 15%,
    transparent 16%,
    transparent 17%,
    powderblue 18%,
    transparent 19%
  );
}

.arrows {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0.5rem;
  text-align: center;
  mix-blend-mode: overlay;
}
.arrows div {
  --arrowSize: 1.3rem;
  --arrowColor: currentColor;

  width: var(--arrowSize);
  height: var(--arrowSize);
  margin: calc(var(--arrowSize) * -1.5) 0;
  background: transparent;
  border: calc(var(--arrowSize) * 0.11) solid;
  border-color: transparent transparent var(--arrowColor) var(--arrowColor);
  transform: rotate(-45deg);
  animation: arrow 2s infinite linear;
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.arrows div:nth-of-type(3) {
  animation-delay: -0.8s;
}
.arrows div:nth-of-type(2) {
  animation-delay: -0.4s;
}
.arrows div:nth-of-type(1) {
  animation-delay: 0s;
}
@keyframes cloud {
  0% {
    opacity: 0;
    background-position: var(--posX) var(--moveX) bottom
      calc(-1 * var(--lowHeight));
    background-size: calc(1 * var(--lowHeight)) var(--lowHeight);
  }
  5% {
    opacity: var(--opacity);
  }
  80% {
    opacity: var(--opacity);
  }
  100% {
    opacity: 0;
    background-position: var(--posX) bottom;
    background-size: calc(3 * var(--highHeight)) var(--highHeight);
  }
}
@keyframes sun {
  to {
    transform: skew(-15deg);
  }
}

.hide {
  opacity: 0;
}

.ease {
  transition: opacity 3s ease-in-out;
}
