.message-animation {
  animation-name: received;
  animation-duration: 0.7s;
}

@keyframes received {
  0% {
    transform: translate(-300%, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
