<div class="container-message">
  <div *ngIf="message['announce']">
    🔔Annonce de
    <span [appColorize]="event.color || ''">{{ event.from }}</span> :
    <span appColorize>{{ event.message }}</span
    >🔔
  </div>
  <div *ngIf="message['follow']">
    Merci pour le follow <span appColorize>{{ event.from }}</span> ! ❤️
  </div>
  <div *ngIf="message['raid']">
    <span appColorize>{{ event.from }}</span> nous rejoint avec ses
    <span appColorize>{{ event.other.nbViewers }}</span> viewers !
  </div>
</div>
